
.button{
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size; //space between the box borders and the text top / bottom and left/right
    text-decoration: none;
}

.button--secondary {
    background: #888;
}

//button modifier
.button--link {
    background: none;
    }